
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
	margin: 0;
	 font-family: "Lato", sans-serif;
}
*{
	box-sizing: border-box;
}
img{
	max-width: 100%;
}
.container{
	float: left;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}
.row{
	max-width: 1200px;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: "Grand Hotel", cursive;
}
p{
	margin: 0;
	 font-family: "Lato", sans-serif;
}
a{
	text-decoration: none;
	display: inline-block;
}
.header-section{
	background: url(../images/header-b.png) no-repeat center;
background-size: cover;
width: 100%;
height: 100vh;
text-align: center;
position: relative;
z-index: 1;
}
.header-section:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(171,63,69,0.5);
	z-index: -1;
}
ol,ul{
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	padding: 0 20px;
}
.header-section .row{
	max-width: 742px;
	margin: 0 auto
}
.header-logo{
	padding-top: 50px;
	padding-bottom: 40px;
}
nav ul li a{
	font-size: 25px;
	line-height: 27px;
	color: #fff;
}
.banner-section h1{
	font-size: 250px;
	line-height: 252px;
	color: #fff;
}
.banner-section p{
	font-size: 29px;
	line-height: 31px;
	color: #fff;
	margin-top: 30px;
}
.banner-section a{
	font-size: 25px;
	font-weight: 900;
	color: #b14248;
	line-height: 58px;
	max-width: 316px;
	background: #fff;
	width: 100%;
	border-radius: 50px;
	margin-top: 50px;
}

.banner-section {
    float: left;
    width: 100%;
   margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 742px;

   
    transform: translate(-50%, -50%);
}
.arrow {
    float: left;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.middle-section{
	background: purple;
	height: 2000px;
}


/*@media(max-height: 700px){
	.banner-section h1{
		font-size: 100px;
		line-height: 102px;
	}
	.header-logo{
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media(max-height: 400px){
	.banner-section h1{
		font-size: 44px;
		line-height: 48px;
	}
	nav ul li a {
    font-size: 16px;
    line-height: 20px;
   
}
.banner-section p {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}
.banner-section a{
	margin-top: 10px;
}
}*/
@media(max-width: 1190px){
	.header-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner-section h1 {
    font-size: 200px;
    line-height: 201px;
    color: #fff;
}
.banner-section p {
    font-size: 25px;
    line-height: 28px;
    color: #fff;
}
.banner-section a{
	margin-top: 28px;
}

}

@media(max-width: 979px){
	.banner-section h1 {
    font-size: 120px;
    line-height: 125px;
   
}
.banner-section p {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}
nav ul li a {
    font-size: 19px;
    line-height: 23px;
    color: #fff;
}
.banner-section a {
    font-size: 21px;
  
    line-height: 53px;
    max-width: 242px;
  
    margin-top: 50px;
}
}
@media(max-width: 767px){
	nav ul li{
		padding: 0 10px;
	}
	.banner-section h1 {
    font-size: 70px;
    line-height: 72px;
}
.banner-section p {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin-top: 15px;
}
}
@media(max-width: 479px){
	nav{
		display: none;
	}
}
@media(max-height: 750px){
	.header-logo{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.banner-section h1{
		font-size: 170px;
		line-height: 172px;
	}
	.banner-section p{
		margin-top: 20px;
	}
}
@media(max-height:500px ){
	.banner-section h1 {
    font-size: 58px;
    line-height: 55px;
    margin-top: 0;
}
.banner-section a{
	margin-top: 15px;
}
.banner-section p {
    font-size: 16px;
    line-height: 21px;
 
    margin-top: 10px;
}
.banner-section a {
    font-size: 18px;
   
    line-height: 45px;
    max-width: 203px;
   
   
}
.header-logo{
	padding-top: 15px;
	padding-bottom: 15px;
}
}
@media(max-height: 350px){
	.header-logo {
    max-width: 133px;
    width: 100%;
    display: inline-block;
}
.arrow {
	bottom: 7px;
	width: 40px;
}
}